# Cấu hình Server
PORT=3000

# Cấu hình Email (Gmail)
# Bật xác thực 2 lớp và tạo App Password tại: https://myaccount.google.com/apppasswords
EMAIL_USER=lehuunghiaspkt2000@gmail.com
EMAIL_PASS=3524162aZ@
EMAIL_TO=lehuunghiaspkt2000@gmail.com
